footer {
    background-color: #F7F7F7;
}

.footer-container {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #545454;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.text-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}

.footer-open-modal_link {
    cursor: pointer;
    padding: 8px 0;
    text-decoration: underline;
}

.rights-text {
    margin: 0;
}

.dew-text {
    margin: 0 10px 0 0;
}

.students-text {
    margin: 0 0 0 10px;
}

 @media screen and (min-width: 768px) {
    .footer-wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 79px;
    }

    .text-wrapper {
        margin: 0 0 0 4px;
    }

    .footer-container {
        font-size: 16px;
        line-height: 1.18;
    }
 }

 @media screen and (min-width: 1200px) {
    .footer-wrapper {
        height: 77px;
    }
 }