.footer-container {
    background-color: #F7F7F7;
    padding-top: 29px;
    padding-bottom: 29px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
}

.text-wrapper {
    display: flex;
}