.header-background {
  width: 100%;
  height: 230px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/header-home-mobile.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: padding-box;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    height: 219px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/header-home-tablet.jpg);
  }

  @media screen and (min-width: 1200px) {
    height: 216px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/header-home-desktop.jpg);
  }
}

.header-home {
  height: 100%;

  padding-top: 40px;
}

.header-home__logo {
  display: flex;
  align-items: center;
  text-align: center;

  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
}

.header-home__icon {
  margin-right: 10px;
}

.header-home__logo span {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-home__menu {
  display: flex;
  text-transform: uppercase;
}

.header-home__menu li:not(:last-child) {
  margin-right: 39px;
}

.header-home__menu--link {
  padding: 10px 0;
}

.nav a {
  color: #fff;
}

.header-form {
  margin-top: 41px;

  display: flex;
  justify-content: center;
}

.header-form__input {
  width: 280px;
  height: 20px;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
  background-color: transparent;
  border: 0 solid;
  border-bottom: 0.5px solid #ffffff;

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;

    color: #fff;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 336px;
  }

  @media screen and (min-width: 1200px) {
    width: 394px;
  }
}

.header-form:focus,
.header-form__input:focus {
  outline: none;
}

.header-form form {
  position: relative;
  height: 20px;
}

.search-btn {
  position: absolute;
  right: 0;
  bottom: 0;

  padding: 0;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: 0;

  display: flex;
  justify-content: end;
  align-items: center;
}

.main-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 320px) {
    row-gap: 20px;
    padding-top: 20px;
    
  }

  @media screen and (min-width: 768px) {
    gap: 32px;
    row-gap: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    gap: 10px;
    row-gap: 90px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.header-form__message {
  position: absolute;
  top: 20px;

  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
}

// Animations

.header-home__logo {
  animation: backInLeft;
  animation-duration: 2s;
}

.header-home__menu {
  animation: backInRight;
  animation-duration: 2s;
}

.header-form {
  animation: backInUp;
  animation-duration: 2s;
}
