.header-background {
  height: 216px;
  width: 100%;

  background-image: url(../images/header-home-desktop.jpg);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: padding-box;
    background-clip: padding-box;
}

.header-home {
  height: 100%;


  padding-top: 40px;

}

.header-home__logo {
  display: flex;
  align-items: center;
  text-align: center;

  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
}

.header-home__icon {
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-home__menu {
  // position: absolute;
  right: 0;

  display: flex;
  text-transform: uppercase;
}

.header-home__menu--to-right {
  margin-right: 39px;
}

.nav a {
  color: #fff;
}

.header-form {
  margin-top: 41px;

  display: flex;
  justify-content: center;
}

.header-form__input {
  width: 394px;
  height: 20px;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
  background-color: transparent;
  border: 0 solid;
  border-bottom: 0.5px solid #ffffff;

  &::placeholder {
    // font-family: 'Roboto';
    // font-style: normal;
    // font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color: #fff;
  }
}

.header-form:focus,
.header-form__input:focus {
  outline: none;
}

.header-form form {
  position: relative;
  height: 20px;
}

.search-btn {
  position: absolute;
  right: 0;
  bottom: 0;

  padding: 0;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: 0;

  display: flex;
  justify-content: end;
  align-items: center;
}

.main-gallery {
  display: flex;
  flex-wrap: wrap;
  

  @media screen and (min-width: 320px) {
    row-gap: 60px;
    padding-top: 20px;
    }

        @media screen and (min-width: 768px) {
            gap: 32px;
            row-gap: 70px;
            padding-top: 60px;
        }

                @media screen and (min-width: 1200px){
                 gap: 10px;
                 row-gap: 90px;
                 padding-top: 60px;         
                }
}

.header-form__message {
  position: absolute;

  top: 20px;
  color: #ff001b;

  font-family: 'Roboto';

  font-size: 14px;
  line-height: 1.14;
}
