.gallery-background {
  width: 100%;
  height: 230px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/header-gallery-mobile.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: padding-box;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    height: 219px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/header-gallery-tablet.jpg);
  }

  @media screen and (min-width: 1200px) {
    height: 216px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/header-gallery-desktop.jpg);
  }
}

.header-gallery {
  height: 100%;
  padding-top: 40px;
}

.header-gallery__logo {
  display: flex;
  align-items: center;
  text-align: center;

  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
}

.header-gallery__icon {
  margin-right: 10px;
}

.header-gallery__logo span {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-gallery__menu {
  display: flex;
  text-transform: uppercase;
}

.header-gallery__menu li:not(:last-child) {
  margin-right: 39px;
}

.header-gallery__menu--link {
  padding: 10px 0;
}

.nav a {
  color: #fff;
}

.header-gallery__btns {
  display: flex;
  justify-content: center;

  margin-top: 40px;
}

.header-gallery__btns .item:last-child {
  margin-left: 20px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-left: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 16px;
  }
}

// Animations

.header-gallery__logo,
.header-gallery__menu {
  animation: bounceInDown;
  animation-duration: 1.8s;
}

// .header-gallery__btns {
//   animation: jackInTheBox;
// }
