:root {
	// colors
	--first-text-color: #ffffff;
	--second-text-color: #000000;
	--third-text-color: #8c8c8c;
	--accent-color: #ff6b01;
	--bg-modal-color: rgba(255, 255, 255, 0.85);
	--transition-duration-timing-func: 350ms cubic-bezier(0.4, 0, 0.2, 1);
	--card-set-gap: 30px;
}

$background-color_1: rgba(255, 255, 255, 0.5);
$background-color_2: white;

.backdrop-modal-trailer.is-hidden {
	transition-property: opacity, visibility;
	transition-duration: 350ms;
	transition-timing-function: ease-in-out;
	transition-delay: 350ms;

	&.is-hidden {
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
	}
}

.backdrop-modal-trailer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	width: 100%;
	height: 100%;
	// background-color: $background-color_1;
	// backdrop-filter: blur(1px);
}

.trailer-player-wrapper {
	// animation: grow 1s infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 320px;
	height: 240px;
	transform: translate(-50%, -50%) scale(1);
	transition: transform var(--transition-duration-timing-func);

	@media screen and(min-width: 768px) {
		width: 640px;
		height: 360px;
	}

	@media screen and(min-width: 1024px) {
		width: 854px;
		height: 480px;
	}
}

.trailer-player {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	z-index: 5;
}

.btnClose {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.3);
	top: -45;
	right: 0;
	stroke: var(--second-text-color);
	background-color: rgba(200, 200, 200, 0.7);
	border-radius: 50%;
	margin-top: 8px;
	margin-right: 8px;
	transform: scale(1);
	transition: border-color var(--transition-duration-timing-func),
		background-color var(--transition-duration-timing-func),
		transform var(--transition-duration-timing-func);

	&:hover,
	&:focus {
		transform: scale(1.2);
		color: var(--first-text-color);
		border-color: var(--accent-color);
		background-color: rgba(255, 107, 1, 0.75);
	}

	&__icon-close {
		outline: 2px;
		// color: var(--second-text-color);
		// stroke: var(--second-text-color);
		transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&:hover &__icon-close,
	&:focus &__icon-close {
		stroke: var(--first-text-color);

	}
}

.button-close__icon-close {
	width: 30px;
	height: 30px;
}

@keyframes grow {
	from {
		box-shadow: 0px 0px 1em white;
	}

	to {
		box-shadow: 0px 0px 3em white;
	}
}