.pagination {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.pagination-value {
  cursor: pointer;
}
.dots {
  cursor: auto;
}
.targetPage {
  color: darkslategrey;
  font-weight: bold;
  text-decoration: underline;
}
