@import '~node_modules/modern-normalize/modern-normalize.css';
.accent-underline::after {
  display: block;
  content: "";
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 0;
  background-color: #ff001b;
}

html, body {
  font-family: "Roboto";
  text-decoration: none;
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}

footer {
  background-color: #F7F7F7;
}

.footer-container {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.footer-open-modal_link {
  cursor: pointer;
  padding: 8px 0;
  text-decoration: underline;
}

.rights-text {
  margin: 0;
}

.dew-text {
  margin: 0 10px 0 0;
}

.students-text {
  margin: 0 0 0 10px;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 79px;
  }
  .text-wrapper {
    margin: 0 0 0 4px;
  }
  .footer-container {
    font-size: 16px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrapper {
    height: 77px;
  }
}
.footer-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
}

.footer-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  max-width: 450px;
  max-height: 610px;
  background-color: #f9f9d1;
  background-image: url(../images/modal_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: padding-box;
  text-align: center;
  overflow-y: scroll;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 768px) {
  .footer-modal {
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 610px;
    max-height: 630px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .footer-modal {
    padding: 30px;
    max-width: 528px;
    min-height: 630px;
    max-height: 650px;
  }
}

.footer-modal::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.footer-modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 50px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: #FF6B08;
  padding: 0;
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.our-team {
  margin: 0;
  color: #FF6B08;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  font-size: 50px;
}

.developer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 130px;
  height: 170px;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
  border-radius: 5px;
}

.flip-card-front {
  background-color: rgba(40, 37, 37, 0.863);
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.flip-card-back {
  background-color: rgba(170, 27, 34, 0.8);
  color: #ffffff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transform: rotateY(180deg);
}

.about {
  color: #ffffff;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
  max-width: 250px;
  height: 100px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
  margin: 0;
  padding: 8px;
  background-color: rgba(37, 37, 37, 0.9);
  background-image: linear-gradient(rgba(37, 37, 45, 0.8), rgba(29, 30, 36, 0.8)), url(../images/ribbon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: padding-box;
}

.dev-name {
  margin: 0;
  color: #FF6B08;
}

.border {
  padding: 5px 5px 5px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
  background-color: rgba(170, 27, 34, 0.8);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.dev_photo {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-github {
  margin-bottom: 20px;
}

.button-headers {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.button-headers:hover, .button-headers:focus {
  background-color: #ff6b02;
  border: 1px solid #ff6b02;
}
@media screen and (min-width: 320px) {
  .button-headers {
    width: 130px;
    height: 44px;
  }
}
@media screen and (min-width: 768px) {
  .button-headers {
    width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .button-headers {
    width: 147px;
    height: 42px;
  }
}

.card-wraper {
  flex-wrap: wrap;
}
@media screen and (min-width: 320px) {
  .card-wraper {
    width: 280px;
    height: 443px;
  }
}
@media screen and (min-width: 768px) {
  .card-wraper {
    width: 336px;
    height: 455px;
  }
}
@media screen and (min-width: 1200px) {
  .card-wraper {
    width: 395px;
    height: 574px;
  }
}

@media screen and (min-width: 320px) {
  .card-img {
    width: 100%;
    height: 398px;
    margin-bottom: 8px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 768px) {
  .card-img {
    height: 455px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .card-img {
    height: 574px;
    margin-bottom: 12px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 320px) {
  .card-title {
    color: #000;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .card-title {
    font-size: 20px;
    line-height: 24px;
    height: 25px;
  }
}

.wraper {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .wraper {
    color: #ff6b08;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .wraper {
    font-size: 20px;
    line-height: 24px;
  }
}

.card-genre-wraper {
  position: relative;
}

.card-genre::after {
  position: absolute;
  content: "";
  border-radius: 2px;
  background-color: #ff6b08;
}
@media screen and (min-width: 320px) {
  .card-genre::after {
    width: 1px;
    height: 10px;
    right: -9px;
    top: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .card-genre::after {
    width: 2px;
    height: 15px;
    top: 5px;
    right: -10px;
  }
}

.card-year {
  margin-left: 16px;
}

.card-rating-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
@media screen and (min-width: 320px) {
  .card-rating-wraper {
    background-color: #ff6b08;
    border-radius: 5px;
    width: 36px;
    height: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .card-rating-wraper {
    width: 40px;
    height: 20px;
    font-size: 20px;
    line-height: 24px;
  }
}

.card-rating {
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 320px) {
  .card-rating {
    width: 24px;
    height: 14px;
  }
}
@media screen and (min-width: 768px) {
  .card-rating {
    width: 17px;
    height: 14px;
  }
}

.gallery-background {
  width: 100%;
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/header-gallery-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: padding-box;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .gallery-background {
    height: 219px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/header-gallery-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-background {
    height: 216px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/header-gallery-desktop.jpg);
  }
}

.header-gallery {
  height: 100%;
  padding-top: 40px;
}

.header-gallery__logo {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
}

.header-gallery__icon {
  margin-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-gallery__logo span {
    display: none;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-gallery__menu {
  display: flex;
  text-transform: uppercase;
}

.header-gallery__menu li:not(:last-child) {
  margin-right: 39px;
}

.header-gallery__menu--link {
  padding: 10px 0;
}

.nav a {
  color: #fff;
}

.header-gallery__btns {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.header-gallery__btns .item:last-child {
  margin-left: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-gallery__btns .item:last-child {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header-gallery__btns .item:last-child {
    margin-left: 16px;
  }
}

.header-gallery__logo,
.header-gallery__menu {
  -webkit-animation: bounceInDown;
          animation: bounceInDown;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

.arow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(36, 26, 26);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.svg {
  fill: rgb(180, 7, 7);
}

.header-background {
  width: 100%;
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/header-home-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: padding-box;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-background {
    height: 219px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/header-home-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .header-background {
    height: 216px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/header-home-desktop.jpg);
  }
}

.header-home {
  height: 100%;
  padding-top: 40px;
}

.header-home__logo {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
}

.header-home__icon {
  margin-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-home__logo span {
    display: none;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-home__menu {
  display: flex;
  text-transform: uppercase;
}

.header-home__menu li:not(:last-child) {
  margin-right: 39px;
}

.header-home__menu--link {
  padding: 10px 0;
}

.nav a {
  color: #fff;
}

.header-form {
  margin-top: 41px;
  display: flex;
  justify-content: center;
}

.header-form__input {
  width: 280px;
  height: 20px;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
  background-color: transparent;
  border: 0 solid;
  border-bottom: 0.5px solid #ffffff;
}
.header-form__input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
}
.header-form__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
}
.header-form__input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-form__input {
    width: 336px;
  }
}
@media screen and (min-width: 1200px) {
  .header-form__input {
    width: 394px;
  }
}

.header-form:focus,
.header-form__input:focus {
  outline: none;
}

.header-form form {
  position: relative;
  height: 20px;
}

.search-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.main-gallery {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 320px) {
  .main-gallery {
    row-gap: 20px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .main-gallery {
    gap: 32px;
    row-gap: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .main-gallery {
    gap: 10px;
    row-gap: 90px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.header-form__message {
  position: absolute;
  top: 20px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
}

.header-home__logo {
  -webkit-animation: backInLeft;
          animation: backInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header-home__menu {
  -webkit-animation: backInRight;
          animation: backInRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header-form {
  -webkit-animation: backInUp;
          animation: backInUp;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.info-notify-box {
  width: 100%;
}

.info-notify-text {
  margin: 0 auto 0 auto;
  padding-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: red;
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.btn-is-active {
  color: #fff;
  background-color: #ff6b02;
  border: 1px solid #ff6b02;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.pagination {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 320px) {
  .pagination {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.pagination-value {
  cursor: pointer;
}

.dots {
  cursor: auto;
}

.targetPage {
  color: darkslategrey;
  font-weight: bold;
  text-decoration: underline;
}/*# sourceMappingURL=gallery.css.map */