@import './common';
@import './preloader';
@import './example';
@import './base';
@import './container';
@import './footer';
@import './footer-modal';
@import './style-button';
@import './card-style';
@import './header-home';
@import './arow';
@import './pagination';
@import './modal-movie.scss';
@import './modal-trailer';