.info-notify-box {
  width: 100%;
}

.info-notify-text {
  margin: 0 auto 0 auto;
  padding-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: red;
  text-shadow: -2px 2px 2px rgba(29, 31, 31, 0.72);
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn-is-active {
  color: #fff;
  background-color: #ff6b02;
  border: 1px solid #ff6b02;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.info-notify-img {
  border-radius: 10px;
}

.box-shadow {
  position: relative;
  box-shadow: 0 1px 4px rgb(14, 13, 13), 0 0 30px rgba(17, 17, 17, 0.973) inset;
  border-radius: 10px;
}
.box-shadow:before,
.box-shadow:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  box-shadow: 0 20px 5px rgba(12, 12, 12, 0.7);
  transform: rotate(-3deg);
}
.box-shadow:after {
  right: 10px;
  left: auto;
  transform: rotate(3deg);
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

@-moz-keyframes scroll {
  0% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.marquee {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: scroll 10s infinite linear;
  -moz-animation: scroll 10s infinite linear;
  animation: scroll 10s infinite linear;
}
