<div class="js-footer-modal">
</div>


<!-- <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img class="dev_photo" src="${obj.img}" alt="developer ${obj.name}">
        </div>
        <div class="flip-card-back">
            <p class="title">BACK</p>
            <p>Leave Me</p>
        </div>
    </div>
</div> -->

<!-- <div class="developer">
    <div class="photo">${obj.img}</div>
      <div class="border">
        <div class="about">
          <h4 class="dev-name">${obj.name}</h4>
          <p class="about-dev">${obj.text}</p>
        </div>
      </div>
    </div> -->