<div class="gallery-background">
  <div class="container header-gallery">
    <nav class="nav">
      <a id="2" class="header-gallery__logo" href="./index.html">
        <svg class="header-gallery__icon" width="24" height="24">
          <use href="./images/svg/sprite.svg#icon-svg-film"></use>
        </svg>
        Filmoteka
      </a>
      <ul class="header-gallery__menu">
        <li class="header-gallery__menu--to-right">
          <a href="./index.html">Home</a>
        </li>
        <li class="accent-underline"><a href="">My Library</a></li>
      </ul>
    </nav>
    <ul class="header-gallery__btns">
      <li class="item"><button class="button-headers js-watched-lib-btn">Watched</button></li>
      <li class="item"><button class="button-headers js-queue-lib-btn">Queue</button></li>
    </ul>
  </div>
</div>
