<div class="gallery-background">
  <div class="container header-gallery">
    <nav class="nav">
      <a id="2" class="header-gallery__logo" href="./index.html">
        <svg class="header-gallery__icon" width="24" height="24">
          <use href="./images/svg/sprite.svg#icon-svg-film"></use>
        </svg>
        <span>Filmoteka</span>
      </a>
      <ul class="header-gallery__menu">
        <li>
          <a class="header-gallery__menu--link" href="./index.html">Home</a>
        </li>
        <li class="accent-underline">
          <a class="header-gallery__menu--link" href="">My Library</a>
        </li>
      </ul>
    </nav>
    <ul
      class="header-gallery__btns animate__animated animate__jackInTheBox animate__delay-1s"
    >
      <li class="item">
        <button class="button-headers js-watched-lib-btn">Watched</button>
      </li>
      <li class="item">
        <button class="button-headers js-queue-lib-btn">Queue</button>
      </li>
    </ul>
  </div>
</div>
