<div class="header-background">
  <div class="container header-home">
    <nav>
      <a href="">
        <svg class="header-home__icon" width="24" height="24">
          <use href="./images/svg/sprite.svg#icon-svg-film"></use>
        </svg>
        Filmoteka
      </a>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Library</a></li>
      </ul>
    </nav>
    <form>
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button type="submit">
        <svg class="header-home__search" width="12" height="12">
          <use href="./images/svg/sprite.svg#icon-svg-search"></use>
        </svg>
      </button>
    </form>
    <p></p>
  </div>
</div>
