<div class="header-background">
  <div class="container header-home">
    <nav class="nav">
      <a id="1" class="header-home__logo" href="">
        <svg class="header-home__icon" width="24" height="24">
          <use href="./images/svg/sprite.svg#icon-svg-film"></use>
        </svg>
        <span>Filmoteka</span>
      </a>
      <ul class="header-home__menu">
        <li class="accent-underline">
          <a class="header-home__menu--link" href="">Home</a>
        </li>
        <li>
          <a class="header-home__menu--link" href="./gallery.html"
            >My Library</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-form">
      <form class="js-header-form">
        <input
          class="header-form__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Movie search"
        />
        <button class="search-btn" type="submit">
          <svg class="header-home__search" width="12" height="12">
            <use href="./images/svg/sprite.svg#icon-svg-search"></use>
          </svg>
        </button>
        <p class="header-form__message"></p>
      </form>
    </div>
  </div>
</div>
