<div class="backdrop-modal is-hidden">
  <div class="modal-movie is-hidden">
    <button class="button-close" type="button" data-modal-close>
      <svg class="button-close__icon-close" width="30" height="30">
        <use href="./images/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-movie-card"></div>
    <div class="backdrop-modal-trailer is-hidden">
      <div class="trailer-player-wrapper">
        <iframe class="trailer-player" width="320" height="240" src="https://www.youtube.com/embed" title="" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <button class="btnClose" type="button">
          <svg class="btnClose__icon-close" width="30" height="30" aria-label=" button close">
            <use href="./images/svg/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
