<div class="pagination">
  <div class="pagination-element">
    <p class="pagination-value firstPage"></p>
  </div>
  <div class="pagination-element">
    <p class="pagination-value perwPage"></p>
  </div>
  <div class="pagination-element">
    <p class="preDots"></p>
  </div>
  <div class="pagination-element">
    <p class="pagination-value prePreCurPage"></p>
  </div>
  <div class="pagination-element">
    <p class="pagination-value preCurPage"></p>
  </div>
  <div class="pagination-element">
    <p class="pagination-value targetPage"></p>
  </div>
  <div class="pagination-element">
    <p class="pagination-value afterPage"></p>
  </div>
  <div class="pagination-element">
    <p class="pagination-value nextAfterPage"></p>
  </div>
  <div class="pagination-element">
    <p class="afterDots"></p>
  </div>
  <div class="pagination-element">
    <p class="pagination-value nextPage"></p>
  </div>
  <div class="pagination-element">
    <p class="pagination-value lastPage"></p>
  </div>
</div>
