<fieldset class="switcher">
    <legend class="switcher__legend">Схема</legend>
    <input class="switcher__radio switcher__radio--light" type="radio" name="color-scheme" value="light"
        aria-label="Светлая">
    <input class="switcher__radio switcher__radio--auto" type="radio" name="color-scheme" value="auto"
        aria-label="Системная" checked>
    <input class="switcher__radio switcher__radio--dark" type="radio" name="color-scheme" value="dark"
        aria-label="Тёмная">
    <div class="switcher__status"></div>
</fieldset>