<div class="backdrop-modal-trailer is-hidden">
  <iframe
    class="trailer-player"
    width="700"
    height="420"
    src=""
    title=""
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>

  <button class="btnClose" type="button">
    <svg class="button-close__icon-close" width="30" height="30">
      <use href="./images/svg/sprite.svg#icon-close"></use>
    </svg>
  </button>
</div>
